<html lang="en" class="h-100">
  <head>
    <meta charset="UTF-8" />
    <title>TAP project </title>
    <meta charset="utf-8" />
    <meta name="description" content="Demonstrates ML " />
    <meta name="keywords" content="" />
    <meta name="author" content="TAP G1" />
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/5.1/examples/cover/cover.css" rel="stylesheet" >
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  </head>

  <body>
    <header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a href="/" class="nav-link px-2 text-white">Classify</a></li>
        </ul>

      </div>
    </div>
  </header>
    <div class="container">
    <main>
      <div class="py-5 text-center">
        <h2>Classify dental product</h2>
      </div>
       <div class="row g-5">
         <div class="col-md-5 col-lg-4 order-md-last"></div>
          <!-- <h1>EMAIL CLASSIFICATION GATEWAY</h1> -->

          <!-- Main Input For Receiving Query to our ML -->
        
          </div>
      </div>
      </main>
    </div>
    <footer class="mt-auto text-white-50">
    <p>TAP</p>
  </footer>
  </body>
</html>